.wp-site-blocks:not(.block-editor-block-list__layout) .wp-block-popup {
    display: none;
}

.wp-block-popup,
.glightbox-inline-popup .wp-block-popup {
    position: relative;
}

.glightbox-inline-popup .close-popup-container {
    position: absolute;
    top: var(--wp--style--block-gap);
    right: var(--wp--style--block-gap);
}

.glightbox-inline-popup .gtrigger-close:before {
    content: "\e906";
    font-size: 2em;
    color: var(--wp--preset--color--theme-granate)
}