<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header is-layout-constrained"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group has-animations">
	<!-- wp:post-content {"layout":{"type":"constrained"}, "className":"alignfull is-layout-constrained"} /-->
	<!-- wp:group {"tagName":"div","className":"has-animations is-layout-constrained alignwide","layout":{"type":"constrained"}} -->
		<div class="wp-block-group has-animations alignwide"><!-- wp:acf/post-type-query {"name":"acf/post-type-query","mode":"preview"} /--></div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer is-layout-constrained"} /-->