.wp-block-custom-grid,
.wp-block-acf-custom-grid {
    /* Block inherits global gap */
    --wp--custom--block-gap: var(--wp--style--block-gap);
    --wp-editor-gap: var(--wp--style--block-gap);
}

.wp-block-custom-grid>.acf-innerblocks-container,
.wp-block-acf-custom-grid>.acf-innerblocks-container {
    display: grid;
    gap: var(--wp--custom--block-gap);
    grid-auto-flow: dense;
}

.wp-block-acf-custom-grid>.acf-innerblocks-container {
    gap: var(--wp-editor-gap);
}

.wp-block-custom-grid>.acf-innerblocks-container>* {
    margin: 0;
}

.block-grid-dinamic>.acf-innerblocks-container {
    grid-template-columns: repeat(auto-fill, minmax(var(--wp--style--block-min-width-column), 1fr));

}

.block-grid-responsive>.acf-innerblocks-container {
    grid-template-columns: repeat(var(--wp--style--block-mobile-column), 1fr);
}

.block-grid-fixed-width>.acf-innerblocks-container {
    grid-template-columns: repeat(auto-fit, var(--wp--style--block-column-width));
    justify-content: var(--wp--style--block-justify);
}

.wp-block-custom-grid .wp-block-image {
    text-align: center;
}

@media only screen and (min-width: 750px) {
    .block-grid-responsive>.acf-innerblocks-container {
        grid-template-columns: repeat(var(--wp--style--block-tablet-column), 1fr);
    }

    .element-span-2 {
        grid-column: span 2;
    }

    .element-span-3 {
        grid-column: span 3;
    }

    .element-span-4 {
        grid-column: span 4;
    }

    .element-span-5 {
        grid-column: span 5;
    }

    .element-span-6 {
        grid-column: span 6;
    }
}

@media only screen and (min-width: 1000px) {
    .block-grid-responsive>.acf-innerblocks-container {
        grid-template-columns: repeat(var(--wp--style--block-desktop-column), 1fr);
    }
}